.character-item img {
    width: 200px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    margin-right: 2rem;
}

.character-item {
    display: flex;
    padding: 1rem;
    align-items: center;
    flex: 1 1 100px;
}

.character-name {
    font-size: 1rem;
    font-weight: 700;
}

.character-description {
    color: gray;
    margin: 0 0 1rem 0;
}